
body {
  margin: 0;
  background-color: rgb(174, 173, 206);
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header{
  background-image: url('../public/plaid.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;

}
header div{
  text-align: center;
}

header button{
  margin:1rem;
  height: 3rem;
  width: 4rem;
}

article {
  flex: 1;
  padding: 2rem;
  text-align: center;
  margin-top: auto; 
}

.RHS{
  display: flex;
  flex-direction: column;
  align-items: end;
}

form{
  max-width: 60%;
  margin: 3%;
  padding:0.5%
}

.vflex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hflex{
  display: flex;
}

.reverse img{
  transform: scaleX(-1);
} 

footer {
  display: flex;
  align-items: center;
  background-color: rgb(21, 100, 71);
  margin-top: auto; 
  padding: 0 1rem;
  color: white;
}

h1{
  font-family: Borel;
}

h2, h3, p{
  font-family: arima;
}

header h1{
  color: rgb(216, 202, 202);
}

img{
  width: 40%;
  max-width: 800px;
  padding: 0.5rem;
}

button{
  background-color: rgb(47, 89, 117);
  max-width: 100px;
  font-family: arima;
  color: rgb(216, 202, 202);
  padding: 0.5rem;
}

button:hover{
  color:rgb(47, 89, 117);
  background-color: rgb(174, 173, 206)
}

.points p{
  margin: -1rem;
}

form div{
  margin: 0.5rem;
}

form{
  border:solid rgb(47, 89, 117) 1px
}