
body {
  margin: 0;
  background-color: rgb(174, 173, 206);
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header{
  text-align: center;
  background-image: url('../public/plaid.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

article {
  flex: 1;
  padding: 2rem;
  text-align: center;
  margin-top: auto; 
}

.RHS{
  display: flex;
  flex-direction: column;
  align-items: end;
}

form{
  max-width: 60%;
  padding: 5%;
}

.vflex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hflex{
  display: flex;
}

.reverse img{
  transform: scaleX(-1);
} 

footer {
  display: flex;
  align-items: center;
  background-color: rgb(21, 100, 71);
  margin-top: auto; 
  padding: 0 1rem;
  color: white;
}

h1{
  font-family: Borel;
}

h2, h3, p{
  font-family: arima;
}

header h1{
  color: rgb(216, 202, 202);
}

img{
  width: 80%;
  max-width: 800px;
  padding: 0.5rem;
}

button{
  background-color: rgb(216, 202, 202);
  max-width: 100px;
  font-family: arima;
}

.points p{
  margin: -1rem;
}